/bin
/obj
/*.suo
/CustomSTS/*.user
/CustomSTS/obj
/CustomSTS/bin
/CustomSTS/App_Data/*.cer
/CustomSTS.SampleRP/*.e2e
/CustomSTS.SampleRP/bin
/CustomSTS.SampleRP/obj
/CustomSTS.SampleConsole/bin
/CustomSTS.SampleConsole/obj
/CustomSTS/App_Data/utils/*.cer
/CustomSTS/appSettings.config
/package/*.zip
/package/package/*.bat
/package/package/*.xml
/package/package/*.txt
/package/package/*.cmd
/package/package/*.zip
/CustomSTS.SampleRP/*.user

/EncryptionKeyGenerator/bin
/EncryptionKeyGenerator/obj
/externals/LDAPUtils/bin

/externals/LDAPUtils/obj
