<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <appSettings file="appSettings.config">
    <!-- STS basic configuration -->
    <add key="BaseAddress" value="https://sts.it-kartellet.dk/customsts/"/>    
    <add key="IssuerName" value="https://sts.it-kartellet.dk/customsts/services/trust"/>
    <add key="CertificateSubjectName" value="CN=CustomSTSTokenSigningCertificate"/>
    <add key="RestrictToLocalhost" value="true"/>
        
    <!-- Password Reset Feature -->
    <add key="adamAdminUser" value="AdamAdmin" />
    <add key="adamAdminPassword" value="Kartellet-IT" />
    <add key="PasswordResetEmailFrom" value="CustomSTS &lt;dont-reply@domain.tld&gt;"/>
    <add key="PasswordResetEmailSubject" value="CustomSTS password recovery"/>
    <add key="smtpServer" value="smpt.domain.tld" />
    <!-- The setting below defines how many seconds the password reset link should be functional - the default is 24 hours (86400).
         If you change this value, don't forget to edit it in the ResetMailBody.txt file as well. -->
    <add key="PasswordResetExpire" value="86400" />

    <!-- CheckSTS page -->
    <add key="CheckSTSAddress" value="https://localhost:44300/customsts/services/trust/2005/UserName.svc/Sts"/>
    <add key="CheckSTSUserName" value="test"/>
    <add key="CheckSTSPassword" value="qwerty"/>
  </appSettings>

  <connectionStrings>
    <add name="LDAPConnectionString" connectionString="LDAP://localhost:50000/CN=Users,CN=External,DC=domain,DC=tld" />
  </connectionStrings>

  <microsoft.identityModel>
    <service>
      <securityTokenHandlers>
        <remove type="Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel,  Version=3.5.0.0, Culture=neutral, PublishKeyToken=31BF3856AD364E35"/>
        <add type="CustomSTS.Code.CustomUserNameSecurityTokenHandler" />
      </securityTokenHandlers>
    </service>
  </microsoft.identityModel>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>

    <membership defaultProvider="LDAPMembershipProvider" >
      <providers>
        <clear/>
        <add name="LDAPMembershipProvider" type="CustomSTS.Code.LDAPMembershipProvider" applicationName="CustomSTS" />
      </providers>
    </membership>

  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="Microsoft.IdentityModel.Protocols.WSTrust.WSTrustServiceContract" behaviorConfiguration="ServiceBehavior">
        <endpoint address="Sts" binding="ws2007HttpBinding" contract="Microsoft.IdentityModel.Protocols.WSTrust.IWSTrustFeb2005SyncContract" bindingConfiguration="wsTrustFeb2005Configuration" />
        <host>
          <baseAddresses>
            <add baseAddress="https://sts.it-kartellet.dk/customsts/services/trust/2005/UserName.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <ws2007HttpBinding>
        <binding name="wsTrustFeb2005Configuration">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" establishSecurityContext="false"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
