<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="LDAPConnectionString" connectionString="LDAP://localhost:50000/CN=Users,DC=domain,dc=tld" xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>

  <appSettings>
    <add key="BaseAddress" value="https://auth.domain.tld/customsts/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="IssuerName" value="https://auth.domain.tld/customsts/services/trust" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="adamAdminUser" value="adamadmin" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="adamAdminPassword" value="Sea8Xs!M" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="smtpServer" value="smtp.domain.tld" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="CheckSTSAddress" value="https://localhost:443/customsts/services/trust/2005/UserName.svc/Sts" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="CheckSTSUserName" value="adamadmin" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="CheckSTSPassword" value="Sea8Xs!M" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Microsoft.IdentityModel.Protocols.WSTrust.WSTrustServiceContract">
        <host>
          <baseAddresses>
            <add baseAddress="https://auth.domain.tld/customsts/services/trust/2005/UserName.svc" xdt:Transform="Replace"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
