<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <appSettings>
    <add key="wsFederationIssuerName" value="Custom.STS"/>
    <add key="wsFederationThumbprint" value=""/>
  </appSettings>
  
  <system.web>
    <!-- TODO: Move this to ADFS root dir in web.conf -->
    <machineKey validationKey="4DED6CA6FAD193CF08BF26E32411F7920917BA583237C97FA355FC344961A26A9E02574E22530757A523F3EC4B8116D3D0F1BAECDDC6614C94051AC1ABA5FE16" decryptionKey="75B2FA6D2CE3E5F6FB5BF960E89B40DE65018BAC095656EA0336044D5760BB9E" validation="HMACSHA256" decryption="AES" />
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
   
    <authentication mode="Forms">
      <forms name="CustomSTS.SampleRP"/>
    </authentication>
    
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>

    <httpModules>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>

    <httpRuntime requestValidationType="CustomSTS.SampleRP.FederatedRequestValidator" />
    
  </system.web>

  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="https://forward1.it-kartellet.dk/Login.aspx"/>
      </audienceUris>
      <federatedAuthentication>
        <cookieHandler name="CustomSTS.SampleRP.FederationCookie" requireSsl="false"/>
      </federatedAuthentication>
      <issuerNameRegistry type="CustomSTS.SampleRP.FederatedIssuerNameRegistry"/>
    </service>
  </microsoft.identityModel>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="CustomSTS.SampleRP.e2e"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
  

</configuration>